# This is a comment

# ✅ Oracles
Oracle(ERC20) setPrice 1
Oracle(GeoNFT1) setPrice 100
Oracle(Reserve2Token) setPrice 10
Oracle(Treasury) setPrice 50

# ✅ ERC20
ERC20 mint 1000
ERC20 burn 50
ERC20 approve Treasury 100
ERC20 balanceOf

# ✅ Treasury
Treasury support ERC20
Treasury unsupport ERC20
# Note that Treasury needs to support ERC20 in order to be bondable
Treasury support ERC20
Treasury bond ERC20 10
Treasury unbond ERC20 5

# ✅ Reserve2
Reserve2 supportERC20 ERC20
Reserve2 unsupportERC20 ERC20
Reserve2 supportERC721 GeoNFT1
Reserve2 unsupportERC721 GeoNFT1

# Add as supported before bonding
Reserve2 supportERC20 ERC20
# Approve ERC20 for Reserve2 before bonding
ERC20 approve Reserve2 100
Reserve2 bondERC20 ERC20 100

# Add as supported before bonding
Reserve2 supportERC721 GeoNFT1
# Approve ERC721 for Reserve2 before bonding
#GeoNFT approve Reserve2
#Reserve2 bondERC721 GeoNFT1

Reserve2 incurDebt 1
Reserve2 payDebt 1
